body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    
}

#opponents-choice {
    width: 200px;
    height: 200px;
    background-color: crimson;
    margin-top: 10px;
}

#your-choice {
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    /*background-color: rgb(147, 11, 238);*/
    margin-top: 10px;
    margin: 0 auto; 
}

#choices img {
    width: 80px;
    height: 80px;
   
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    color: rgba(227, 12, 127, 0.859);
}

.box {
    background-color: black; 
    font-family: Tahoma;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(0, -50%);
     
}

#winner {
    font-family: Tahoma;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size:large;
}